/* drag-drop.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background: white;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
}

.header p {
  font-size: 16px;
  color: #555;
  font-family: 'Inter', sans-serif;
}

.content {
  border: 1px solid #555;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}
